<div class="single-content">
	#if($title.data != "")
		<h1>$title.data</h1>
	#end

	<img class="main-image" src="$main-image.data" width="100%" />
	<div class="content-body">
 		#if ($content.data != "")
			$content.data
		#end
	</div>
</div>